@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: Vazir-FD !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.contentBase {
  margin-top: 1rem;
  border-radius: 10px;
  background-color: white;
  height: 92vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  width: 100%;
}
